<div class="container mt-4 p-2">
<h4>{{ titulo }}</h4>
<form class="row g-3" #form="ngForm" (submit)="guardarAlumno()">
    <div class="col-12">
        <label for="inputAddress2" class="form-label">Nombre</label>
        <input type="text" class="form-control" id="inputAddress2" placeholder="Nombre del estudiante" [(ngModel)]="alumno.nombre" name="nombre" required>
      </div>
    <div class="col-md-5">
      <label for="inputEmail4" class="form-label">Email</label>
      <input type="email" class="form-control" id="inputEmail4" placeholder="prueba@prueba.com" [(ngModel)]="alumno.email" name="email" required>
    </div>
    <div class="col-md-5">
      <label for="inputPassword4" class="form-label">Matricula</label>
      <input type="text" class="form-control" id="inputPassword4" [(ngModel)]="alumno.matricula" name="matricula" required>
    </div>

    <div class="col-2">
      <label for="inputAddress" class="form-label">Edad</label>
      <input type="number" class="form-control" id="inputAddress" [(ngModel)]="alumno.edad" name="edad" required>
    </div>

    <div class="col-md-4">
        <label for="inputCity" class="form-label">Domicilio</label>
        <input type="text" class="form-control" id="inputCity" [(ngModel)]="alumno.domicilio" name="domicilio" required>
      </div>
    <div class="col-md-3">
        <label for="inputState" class="form-label">Ciudad</label>
        <select id="inputState" class="form-select" [(ngModel)]="alumno.ciudad" name="ciudad" required>
          <option selected>Elegir Ciudad...</option>
          <option>Culiacán</option>
          <option>Los Mochis</option>
          <option>Mazatlan</option>
        </select>
      </div>
  
    <div class="col-md-3">
      <label for="inputState" class="form-label">Facultad</label>
      <select id="inputState" class="form-select" [(ngModel)]="alumno.facultad" name="facultad" required>
        <option selected>Elegir Facultad...</option>
        <option>Informatica</option>
        <option>Arquitectura</option>
        <option>Odontologia</option>
      </select>
    </div>

    <div class="col-md-2">
      <label for="inputZip" class="form-label">Codigo Postal</label>
      <input type="number" class="form-control" id="inputZip" [(ngModel)]="alumno.codigoPostal" name="codigoPostal" required>
    </div>
    <div class="col-12">
      <div class="form-check">
        <input class="form-check-input" type="checkbox" id="gridCheck">
        <label class="form-check-label" for="gridCheck">
          Check me out
        </label>
      </div>
    </div>
    <div class="col-12 float-right">
      <button [disabled]="form.invalid" class="btn btn-primary" type="submit">Guardar</button>
      <button class="ms-3 btn btn-danger" type="reset" (click)="cancelar()">Cancelar</button>
    </div>
  </form>
</div>